$normalText: #666666;
$primaryText: #FFFFFF;
$secondaryText: #B11F24;

$normalColor: #FFFFFF;
$primaryColor: #B11F24;
$secondaryColor: #F49B00;

$primaryBorder: #FAFAFA;
$secondaryBorder: #DADADA;

$sideBarColor: #FFFFFF;