$normalText: #666666;
$primaryText: #FFFFFF;
$secondaryText: #B11F24;

$normalColor: #FFFFFF;
$primaryColor: #B11F24;
$secondaryColor: #F49B00;

$primaryBorder: #FAFAFA;
$secondaryBorder: #DADADA;

$sideBarColor: #484848;
$sideBarItem: #484848;
$sideBarItemColor: #FFFFFF;
$sideBarItemActive:#FFFFFF;
$sideBarItemActiveColor: #F58220;
$sideBarItemHover:#F9F9F9;
$sideBarItemHoverColor: #F58220;