$normalText: #515253;
$primaryText: #FFFFFF;
$secondaryText: #7266ba;
$thirdText: #7266ba;

$normalColor: #FFFFFF;
$primaryColor: #515253;
$secondaryColor: #7266ba;

$primaryBorder: #F7F7F7;
$secondaryBorder: #DADADA;

$sideBarColor: #FFFFFF;
$sideBarItem: #FFFFFF;
$sideBarItemColor: #515253;
$sideBarItemActive:#f5f5f5;
$sideBarItemActiveColor: #7266ba;
$sideBarItemHover:#FFFFFF;
$sideBarItemHoverColor: #7266ba;