$normalText: #666666;
$primaryText: #FFFFFF;
$secondaryText: #B11F24;
$thirdText: #F49B00;

$normalColor: #FFFFFF;
$primaryColor: #B11F24;
$secondaryColor: #F49B00;

$primaryBorder: #F7F7F7;
$secondaryBorder: #DADADA;